@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
p {
  font-weight: 600;
  letter-spacing: -0.05;
  color: rgba(37, 51, 71);
  font-family: "Inter", sans-serif;
}

/* preloader section */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202083;
  opacity: 1;
  transition: opacity 5s;
  z-index: 2;
}
.loader-progress {
  color: #ffffff;
  font-size: 48px;
  animation: fadeOut 1s ease forwards;
  opacity: 1;
  transition: opacity 5s;
}
@keyframes fadOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* preloader section ends */

/* header-container */
.header-background {
  background: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  border-bottom-right-radius: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 77vh;
  z-index: -1;
}

.header-titile-container {
  display: flex;
  gap: 10vw;
  /* flex-wrap: wrap; */
}

.title-inner {
  margin-top: 12%;
}

.title-content {
  padding: 4% 0 0 7%;
}

.title-content p {
  width: 35vw;
  margin-top: 5%;
  line-height: 3.5vh;
}

.title-content h1 {
  margin-top: 2%;
}

/* input container */
.input-container {
  margin-top: 3%;
  background-color: white;
  width: 28rem;
  height: 24rem;
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.36);
}

/* meric section */
.metric-display {
  padding-top: 7%;
  display: flex;
  /* gap: 1vw; */
  align-items: center;
  /* justify-content: center; */
}

.metric-display .unit {
  position: relative;
  color: blue;
  font-size: 1.1rem;
  right: 3rem;
  font-weight: 700;
  font-style: bold;
}

/* input styling  */
.input-group input {
  width: 11rem;
  padding: 0.6rem 0.5rem;
  border: 0.1px solid gray;
  border-radius: 7px;
  margin-top: 0.5rem;
  text-indent: 0.5rem;
  font-family: "Inter-semiBold";
  font-size: 1.3rem;
}

.input-group input:hover {
  border: 2px solid #202083;
}

.input-container h2 {
  margin: 4%;
}

/* input styling ends  */
/* imperialsection */
.imperial-display {
  display: flex;
  align-items: center;
  /* gap: 1vw; */
  /* justify-content: center; */
}

.height-in {
  margin-top: 25px !important;
}

.weight-lbs {
  margin-top: 25px !important;
}

.hidden {
  display: none;
}

.imperial-display .unit {
  position: relative;
  font-style: bold;
  font-weight: 700;
  right: 38px;
  color: blue;
  font-size: 1.1rem;
}

.metric-imperial {
  margin: 3% 0 0 1%;
  display: flex;
  gap: 37%;
}

#height_error,
.height_error,
#weight_error {
  font-size: 10px;
  color: red;
}

/* label span {
  margin-left: 2%;
} */
#calculateBMI {
  background-image: linear-gradient(to right, #3460f7, #587dff);
  border-radius: 14px 71px 71px 14px / 13px 74px 74px 13px;
  height: 15vh;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculateBMI {
  transition: all 0.3s ease-in-out;
}

#calculateBMI:hover {
  transform: scale(0.93);
}

#calculateBMI:active {
  transform: scale(1.08);
}

.calculator-container {
  margin-top: 4vh;
}

.result {
  color: #ffffff;
  text-align: center;
}

#enter-wh-parag {
  padding-top: 2%;
  font-size: 12px;
}

/* imperial section */
#imperialcalculateBMI {
  background-image: linear-gradient(to right, #3460f7, #587dff);
  border-radius: 14px 71px 71px 14px / 13px 74px 74px 13px;
  height: 12vh;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imperialcalculateBMI {
  transition: all 0.3s ease-in-out;
}

#imperialcalculateBMI:hover {
  transform: scale(0.93);
}

#imperialcalculateBMI:active {
  transform: scale(1.08);
}

.calculator-containers {
  padding-top: 20px;
}

/* .................................................................... */
/* main section */

.middle-section {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;

  padding: 7% 7% 0 7%;
}

.img-section img {
  width: 75%;
}

.middle-section-text {
  width: 87%;
  margin-top: 7%;
}

.middle-section p {
  padding-top: 5%;
  line-height: 23px;
  color: gray;
}
/* ............................................................... */
/* icon-section */
.icon-background {
  background: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
}
.icon-section {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 95%;
  justify-content: space-evenly;
  padding-top: 5%;
  margin-top: 3%;
  margin-left: auto;
}

.healthy-eating,
.exercise,
.adequate-sleep {
  width: 30%;
}
.healthy-eating-text,
.exercise-text,
.adequate-sleep-text {
  margin-top: 10%;
}
.healthy-eating-text p,
.exercise-text p,
.adequate-sleep-text p {
  margin-top: 7%;
}

/* ........................................................... */
/* respomsiveness */
@media only screen and (max-width: 1250px) {
  body {
    width: 100%;
  }

  .input-container {
    margin-right: 3%;
  }

  .middle-section-text {
    width: 100%;
    font-size: 10px;
    margin-top: 15%;
  }

  .img-section img {
    width: 85%;
  }

  .middle-section p {
    font-weight: 700;
  }
}

@media only screen and (max-width: 1045px) {
  body {
    width: 100%;
  }

  .imperial-display .unit2 {
    position: relative;

    left: 10rem;

    bottom: 2rem;
  }

  .metric-display .unit {
    position: relative;
    left: 9.5rem;

    bottom: 2rem;
  }
}

@media only screen and (max-width: 1059px) {
  /* .imperial-display .unit2 {
    position: relative;

    left: 10rem;

    bottom: 2rem;
  } */
  body {
    width: 100%;
  }

  .metric-display .unit {
    position: relative;
    left: 9.5rem;

    bottom: 2rem;
  }
}

@media only screen and (max-width: 1019px) {
  body {
    width: 100%;
  }

  .imperial-display .unit {
    position: relative;

    left: 9.5rem;

    bottom: 2rem;
  }

  .metric-display .unit {
    position: relative;
    left: 9.5rem;

    bottom: 2rem;
  }

  .calculator-containers {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 912px) {
  .header-background {
    height: 560px;
  }

  .title-content p {
    line-height: 20px;
  }

  .calculator-container {
    margin-top: 0;
  }

  #calculateBMI {
    height: 85px;
  }

  #imperialcalculateBMI {
    height: 85px;
  }

  .calculator-containers {
    padding-top: 0;
  }
}

@media only screen and (max-width: 887px) {
  body {
    width: 100%;
  }

  .header-titile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-background {
    width: 100%;
  }

  .title-content {
    margin: auto;
    width: 90%;
    margin-bottom: 0rem;
    padding: 0 0 0 0;
  }

  .title-content h1 {
    text-align: center;
  }

  .title-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title-content p {
    width: 100%;
    text-align: center;
  }

  .metric-display .unit {
    position: relative;
    left: -3rem;
    top: -0.01rem;
  }

  .imperial-display .unit {
    position: relative;

    left: -2.5rem;

    top: -0.01rem;
  }

  .input-container {
    margin-top: 3%;
    background-color: white;
    width: 90%;
    height: 24rem;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.36);
    margin-right: 0;
  }

  .metric-imperial {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 0px;
  }

  .metric-display {
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .input-group input {
    width: 17rem;
    padding: 1rem 1rem;
  }

  .imperial-display {
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .calculator-containers {
    padding-top: 1rem;
  }

  .middle-section {
    flex-direction: column;
    padding: 7% 7% 0 15%;
  }
  .icon-section {
    flex-direction: column;
    margin-top: 7%;
    width: 85%;
  }
  .healthy-eating,
  .exercise,
  .adequate-sleep {
    width: 70%;
    margin-top: 7%;
  }
}

@media screen and (max-width: 885px) {
  body {
    width: 100%;
  }

  .input-container {
    margin-top: 3%;
    background-color: white;
    width: 90%;
    height: 24rem;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.36);
    margin-right: 0;
  }
}

@media screen and (max-width: 820px) {
  .input-group input {
    padding: 1rem;
  }

  #calculateBMI {
    margin-top: 25px;
    height: 85px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .metric-display {
    padding-top: 0%;
  }

  .calculator-container {
    margin-top: 1vh;
    margin-left: 15%;
  }

  .input-container {
    height: 20rem;
    max-width: 100%;
  }

  .imperial-display input {
    padding: 0.5rem;
  }

  #imperialcalculateBMI {
    margin-top: 0px;
    height: 85px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calculator-containers {
    margin-left: 10rem;
  }

  .input-container {
    height: 22.7rem;
  }

  .middle-section-text p {
    width: 100%;
    line-height: 17px;
    font-size: 12px;
    /* margin-top: 7%; */
  }
}

@media screen and (max-width: 757px) {
  .metric-display .unit {
    position: relative;
    left: 16rem;
    top: -2.5rem;
  }
}

@media screen and (max-width: 750px) {
  /* .imperial-display .unit2 {
    position: relative;
    left: 16rem;
    top: -2.5rem;
  } */
  .calculator-containers {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 751px) {
  /* .imperial-display .unit2 {
    position: relative;
    left: 16rem;
    top: -2.5rem;
  } */
  /* .input-group input {
    padding: 1rem;
  } */
  #imperialcalculateBMI {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 749px) {
  /* .imperial-display .unit2 {
    position: relative;
    left: 16rem;
    top: -2.5rem;
  } */
}

@media screen and (max-width: 738px) {
  .imperial-display .unit {
    position: relative;
    left: -3rem;
    top: 0.1rem;
  }

  .calculator-containers {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 715px) {
  .imperial-display .unit2 {
    position: relative;
    left: 15rem;
    top: -2rem;
  }

  /* .imperial-display .unit {
    position: relative;
    left: 1rem;
    top: -2rem;
  } */
  #imperialcalculateBMI {
    margin-top: -3rem;
    max-width: 85%;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 703px) {
  #imperialcalculateBMI {
    margin-top: -4rem;
    max-width: 100%;
    margin-left: -5rem;
  }

  .imperial-display .unit {
    position: relative;
    left: 15rem;
    top: -2rem;
  }
}

@media screen and (max-width: 670px) {
  .input-group input {
    padding: 10px;
    width: 80%;
  }

  .imperial-display .unit {
    position: relative;
    left: -3rem;
    top: 0.1rem;
  }

  #imperialcalculateBMI {
    margin-top: -2rem;
  }

  .metric-display .unit {
    position: relative;
    left: -3rem;
    top: 0.1rem;
  }
}

@media screen and (max-width: 611px) {
  #imperialcalculateBMI {
    padding: 0 10% 0 10%;
  }

  #calculateBMI {
    padding: 0 2% 0 2%;
  }

  .metric-display {
    padding-top: 2%;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  body {
    width: 100%;
    overflow-x: hidden !important;
    padding: 0;
    margin: 0;
  }

  .imperial-display .unit2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -13%;
    margin-left: 100%; */
    /* width: 100%; */

    top: -2rem;
    left: 2rem;
  }

  .imperial-display .unit {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1.5rem;
    left: 3rem;
    margin-top: -11px;
  }
}
